@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    padding:0;
    background:#020617;
    color:white;
    font-family:Inter,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

*{
    box-sizing:border-box;
}

::selection{
    background:#06b6d4;
    color:white;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#0f172a;
}

::-webkit-scrollbar-thumb{
    background:#06b6d4;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#0891b2;
}

input::placeholder,
textarea::placeholder{
    color:#94a3b8;
}

button{
    cursor:pointer;
}